<mat-sidenav-container class="sidenav-container" style="background-color: antiquewhite;">
  <app-header></app-header>

  <mat-sidenav mode="side" opened class="sidenav" style="background-color: #ADADAD;">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <app-woven-grid></app-woven-grid>
  <!-- <mat-sidenav-content> -->

    <!-- <main class="main-content">
      <router-outlet></router-outlet>
    </main> -->

    <!-- <app-footer></app-footer> -->
  <!-- </mat-sidenav-content> -->
</mat-sidenav-container>