<div style="background-color: #F6F4F2;">
<!-- <mat-grid-list cols="3" rowHeight="1:1" gutterSize="16px"> -->
<!-- <mat-grid-tile *ngFor="let item of items" [colspan]="1" [rowspan]="1"> -->
<mat-card class="woven-card">
    <img mat-card-image src="assets/commune.jpg" alt="Commune" />
    <mat-card-content>
        <h3>Commune</h3>
        <p>Fun event and community space inspired by Portland market.</p>
        <a target="_blank">Ver mais</a>
    </mat-card-content>
</mat-card>
</div>
<!-- title: 'Commune',
      description: 'Fun event and community space inspired by Portland market.',
      image: 'assets/commune.jpg', -->
<!-- </mat-grid-tile> -->
<!-- </mat-grid-list> -->